<%- include('partials/header'); -%>

<div class = "main">

<div class = "container">
	<div class="container" style="margin-bottom: 3%; margin-top: 10%;">
		<div class="row">
			<div style = "width: 100%;">
				<div class="information">
					<h1>MISSING PEOPLE</h1>
				</div>
			</div>
		</div>
	</div>


	<table class="table table-bordered .table-responsive">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
				<th scope="col">Gender</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
				<th scope="col">Expand</th>
			</tr>
		</thead>
		<tbody>
			<% var i = 1; %>
			<% people_missing.forEach(x => { %>
			<% var url = "/profileMissing/" + x._id %>
			<tr class="clickable-row" data-href="<%= url %>">
				<th scope="row"><%= i++ %></th>
				<td><%= x.missing_name %></td>
				<td><%= x.missing_gender %></td>
				<td><%= x.missing_age %></td>
				<td><%= x.missing_city %></td>
				<td><%= x.missing_state %></td>
				<td class = "text-center">	
					<a class = "btn btn-primary" href="<%= url %>">More Info</a>
				</td>
			</tr>
			<% });%>
		</tbody>
	</table>
</div>
</div>

<%- include('partials/footer'); -%>
