<%- include('partials/header'); -%>

<div class = "main">

	<div class="container" style="margin-bottom: 3%; margin-top: 4%;">

		<div class="information">
				<h1>FOUND</h1>
		</div>

		<div class = "row mb-3">
			<div class = "col-md-7 mb-3">
				<div class="card" style="width: 100%;">

				   	<h5 class = "card-header"><strong>FOUND PERSON DETAILS</strong></h5>

					<% if(profile_found.found_photo != " ") {%>
						<img class="card-img-top" src="<%= profile_found.found_photo %>">
					<% } %>

				   	<div class="card-body" style="text-align: left;">

						<div>
							<span class = "more_info">Name :</span> 
							<p class = "more_info_deep">
								<%=profile_found.found_name %>
							</p>
						</div>

						<div> <span class = "more_info">Address : </span><p  class = "more_info_deep"><%=profile_found.found_address %></p></div>

						<div> <span class = "more_info">Place : </span><p  class = "more_info_deep"><%=profile_found.found_city %> <%=profile_found.found_state %> <%=profile_found.found_pincode %></p></div>

						<div> <span class = "more_info">Descripton : </span><p  class = "more_info_deep"><%=profile_found.found_description %></p></div>


						<div> <span class = "more_info">Last known Location : </span><p  class = "more_info_deep"><%=profile_found.found_location %></p></div>

						<div> <span class = "more_info">Age : </span><p  class = "more_info_deep"><%=profile_found.found_age %></p></div>

						<div> <span class = "more_info">Gender : </span><p class = "more_info_deep"><%=profile_found.found_gender %></p></div>

					</div>

				</div>
			</div>

			<div class = "col-md-5 mb-3">
				<div class="card" style="width: 100%;">
					<h5 class = "card-header"><strong>REPORTING PERSON DETAILS</strong></h5>

				   	<div class="card-body" style="text-align: left;">

						<div>
							<span class = "more_info">Name :</span> 
							<p class = "more_info_deep">
								<%=profile_found.reporter_name %>
							</p>
						</div>

						<div> 
							<span class = "more_info">Contact : </span>
							<p class = "more_info_deep">
								<%=profile_found.reporter_contact1 %>
							</p>
						</div>

						<div> 
							<span class = "more_info">Address : </span>
							<p class = "more_info_deep">
								<%=profile_found.reporter_address %>
							</p>
						</div>



						<div> 
							<span class = "more_info">Mail ID : </span>
							<p  class = "more_info_deep">
								<%=profile_found.reporter_email %>
							</p>
						</div>

				  	</div>



				</div>
			</div>
		</div>

		<a class = "btn btn-primary" href="/findFound">Go Back.</a>

	</div>
</div>

<%- include('partials/footer'); -%>
